# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  # GO
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "thursday"
    groups:
      go-minor-updates:
        applies-to: version-updates
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  # npm
  - package-ecosystem: "npm"
    directory: "/web-app/"
    schedule:
      interval: "weekly"
      day: "thursday"
    open-pull-requests-limit: 15
    groups:
      react:
        applies-to: version-updates
        patterns:
          - "react"
          - "@types/react"
          - "react-dom"
          - "@types/react-dom"
        update-types:
          - "major"
          - "minor"
          - "patch"
      redux:
        applies-to: version-updates
        patterns:
          - "react-redux"
          - "@reduxjs/toolkit"
        update-types:
          - "major"
          - "minor"
          - "patch"

  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "thursday"

